# Окружение Python
venv/
env/
.env

# Кэш
__pycache__/
*.py[cod]
*$py.class

# Системные файлы Mac
.DS_Store

# Файлы настроек Streamlit (исключаем только secrets)
.streamlit/secrets.toml

# Логи
*.log
streamlit.log